<section id="about">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Sobre</h3>
            </div>

            <p>A Semana acadêmica do Curso de Ci&ecirc;ncia da Computa&ccedil;&atilde;o do Instituto Multidisciplinar da UFRRJ (SECCIM)
            &eacute; um evento de extens&atilde;o universit&aacute;ria, que normalmente acontece pr&oacute;ximo a semana nacional de tecnologia,  
            que se iniciou no instituto em 5 de Abril de 2010. Organizada a partir da iniciativa dos professores do  
            Departamento de Tecnologias e Linguagens (DTL) e dos alunos do Curso de Ci&ecirc;ncia da Computa&ccedil;&atilde;o,  
            apoiados pela Coordena&ccedil;&atilde;o do curso, pela dire&ccedil;&atilde;o do Instituto Multidisciplinar (IM) e pelo  
            Centro Acad&ecirc;mico de Ci&ecirc;ncia da Computa&ccedil;&atilde;o do IM. O principal objetivo &eacute; o de se criar um ambiente  
            onde pesquisadores,  
            educadores, estudantes e a comunidade em geral possam interagir, divulgando experi&ecirc;ncias,  
            inova&ccedil;&otilde;es e diagnosticando novas &aacute;reas de atua&ccedil;&atilde;o em Computa&ccedil;&atilde;o e Matem&aacute;tica nas suas v&aacute;rias manifesta&ccedil;&otilde;es,  
            assim como promover a socializa&ccedil;&atilde;o e integra&ccedil;&atilde;o entre os alunos dos cursos e discentes de outros cursos de gradua&ccedil;&atilde;o e com docentes de universidades e escolas estaduais, municipais e particulares do estado.</p>

            <h3 class="section-title">Objetivos</h3>
            <p>
            O evento tem como objetivos principais:
                <ul>
                    <li>Complementar a forma&ccedil;&atilde;o dos alunos do curso de Ci&ecirc;ncia da Computa&ccedil;&atilde;o</li>
                    <li>Incentivar o interesse pela pesquisa nas diversas &aacute;reas do curso e aplica&ccedil;&otilde;es</li>
                    <li>Promover a reflex&atilde;o e o debate com os temas relacionados a&nbsp; computa&ccedil;&atilde;o e a&nbsp; matem&aacute;tica como apresenta&ccedil;&atilde;o de ferramentas e aplica&ccedil;&otilde;es pr&aacute;ticas</li>
                    <li>Apresentar novas pesquisas e tecnologias relacionadas a&nbsp; &aacute;rea</li>
                    <li>Visar a&nbsp; forma&ccedil;&atilde;o de um profissional com capacidade cr&iacute;tica e criativa</li>
                    <li>Estreitar a rela&ccedil;&atilde;o entre os alunos da Computa&ccedil;&atilde;o e demais alunos da UFRRJ</li>
                    <li>Aproximar os discentes da UFRRJ aos discentes de outras institui&ccedil;&otilde;ees</li>
                    <li>Divulgar o curso, assim como a Institui&ccedil;&otilde;eso</li>
                    <li>Despertar o interesse pela computa&ccedil;&atilde;o, nos alunos do Ensino M&eacute;dio</li>
                    <li>Promover a atualiza&ccedil;&atilde;o dos professores do Ensino M&eacute;dio</li>
                    <li>Discutir o perfil do profissional na &aacute;rea de Ci&ecirc;ncia da Computa&ccedil;&atilde;o</li>
                    <li>Tornar conhecidas as op&ccedil;&otilde;es de mercado de trabalho na &aacute;rea</li>        
                </ul>
            </p>

            <h3 class="section-title">Ingresso</h3>
            <p>
            O valor do ingresso é de R$ 5,00.
            </p>
        </div>

    </div>

</section>