<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Local do Evento</h3>
                <address>
                    <p>Universidade Federal Rural do Rio de Janeiro<br>Nova Iguaçu<br>Av. Governador Roberto Silveira s/n<br> Phone: +1159t3764<br> Email: example@mail.com</p>
                </address>
            </div>
            <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.615718771082!2d-43.46085288531257!3d-22.742520337747003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967bb7dcf9f03%3A0xe2e702f4d5fdab99!2sUniversidade+Federal+Rural+do+Rio+de+Janeiro+-+Instituto+Multidisciplinar+-+Campus+Nova+Igua%C3%A7u!5e0!3m2!1sen!2sbr!4v1506825525664" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>