{% extends 'base_generic.html' %}

{% block content %}

    <section class="section registration">
        <div class="container">
            <br>
            <br>
            <br>
            <p>
                Um email com instrulções para a reconfiguração da sua senha lhe foi enviado, se a conta com email informado existir você
                deve recebe-lô em breve.
            </p>
            <p>
                Caso você não receba o email, certifique-se de digitar o email correto e de conferir a caixa de spam do seu email.
            </p>
        </div>
    </section>

{% endblock %}