{% extends 'base_generic.html' %}

{% block content %}

    <section class="section registration">
        <div class="container">
            <br>
            <br>
            <br>
            <h4>Recuperar Senha</h4>
            <div class="blankdivider30">
            </div>
            <div class="cform" id="contact-form">
                <form method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Email invalido"/>
                                <div class="validation"></div>
                            </div>
                            <input type="submit" value="Recuperar" class="btn btn-theme pull-left">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}